<!DOCTYPE html>
<html>
<head>
	<title>Message in a bottle</title>
	<link rel="stylesheet" type="text/css" href="css/message.css">
</head>
<body>
	<h1>Message in a Bottle</h1>
	<h2> Stranded on desert island each day you search one beach each day. </h2>
	<%= yield %> 
</body>
</html>